* {
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background: rgb(29, 29, 29);
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 1rem 0rem;
}
.home-container {
  display: flex;
}

.content {
  padding-left: 11.5rem;
  width: 100%;
}

.nav {
  position: fixed;
  height: 100%;
  max-width: 10rem;
  background-color: #191919;
  z-index: 88;
  transition: 1s ease-out;

  .logo {
    min-height: 28vh;
    padding: 2rem 1rem;
    line-height: 1.2;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .nav-list {
    position: relative;
    .nav-container {
      padding: 3rem 0rem;
      font-size: 20px;
      text-align: center;
      li {
        cursor: pointer;
        border-top: 1px solid #ddd;
      }
    }
    .nav-social {
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        li {
          cursor: pointer;
        }
      }
    }
  }
}

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  position: relative;
  .hello {
    font-size: 3rem;
    line-height: 0.8;
    letter-spacing: -3px;
    position: relative;
    width: auto;

    h1 {
      padding-bottom: 3rem;
    }
    button {
      padding: 1rem 4rem;
      border: 1px solid #23d997;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      font-weight: bold;
      font-size: 1.1rem;
      cursor: pointer;
      background: transparent;
      color: white;
      transition: all 0.5s ease;
      font-family: "Inter", sans-serif;
      margin-top: 2rem;
      &:hover {
        background-color: #23d997;
        color: white;
      }
    }
    p {
      font-size: 2rem;
      letter-spacing: 5px;
    }
  }
}

.about {
  min-height: 60vh;
  position: relative;
  padding: 0rem 2rem;
  padding-right: 10rem;
  .about-container {
    display: flex;
    .box {
      flex-basis: 45%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      h1 {
        padding-bottom: 1rem;
        font-size: 3.8rem;
      }
      p {
        line-height: 1.5;
      }
    }
    .skillz-box {
      flex: 1;
      .skills {
        padding: 2rem 1rem;
        h2 {
          font-size: 1.6rem;
          padding-left: 5px;
        }
        .prog {
          background-color: #dedadc;
          height: 1rem;
          border-radius: 15px;
        }
        .line {
          margin-top: 1rem;
          height: 1rem;
          border-radius: 20px;
          background-color: #23d997;
          position: relative;
          &::after {
            content: attr(data-progress);
            width: 5px;
            height: 5px;
            position: absolute;
            top: -37px;
            right: 24px;
          }
        }
      }
    }
  }
}

.icons-list {
  display: grid;
  padding-top: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  min-height: 30vh;
  text-align: center;
  .icons-box {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    .icons-line {
      width: 5px;
      height: 5px;
      background-color: #23d997;
      left: 50%;
      position: absolute;
    }

    // &::before {
    //   content: "";
    //   width: 20px;
    //   background-color: greenyellow;
    //   height: 20px;
    //   left: 50%;
    //   top: 0;
    // }
    // &::after {
    //   content: "";
    //   width: 5px;
    //   background-color: orange;
    //   height: 5px;
    //   position: absolute;
    //   left: 50%;
    //   top: 0;
    // }
  }
  .icons-svg {
    height: 13vh;
    width: 100%;
    margin: 1rem 0rem;
  }
}

.projects {
  padding: 5rem;
  position: relative;

  .project-container {
    // grid-gap: 5rem;
    // display: grid;
    // gap: 1rem;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto auto;
    // height: auto;
    // align-items: center;
    // padding: 0rem 5rem;
    position: relative;
    .project {
      display: flex;
      margin-bottom: 5rem;
      justify-content: center;
      .project-text {
        // text-align: center;
        // padding: 1rem;
        // justify-content: flex-start;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // padding: 0rem 2rem;
        .descripton {
          padding: 2rem;

          p {
            max-width: 15rem;
            margin: 0 auto;
            font-size: 1rem;
            min-height: 25vh;
            line-height: 150%;
            letter-spacing: 1px;
            font-family: "Inter", sans-serif;
          }
        }
        h3 {
          padding: 0rem 2rem;

          margin-bottom: 1rem;
          font-size: 1.2rem;
        }

        .prog-text,
        .icon {
          display: flex;
          margin-top: 2rem;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }
        h4 {
          border: 1px solid #eee;
          font-weight: bold;
          padding: 5px 1rem;
          border-radius: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.project-video {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  max-width: 40rem;
  height: 30rem;
  border-radius: 20px;
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.hide {
  overflow: hidden;
}
.right-nav-contant {
  .box {
    display: flex;
    // background-color: #5f6673;
    align-items: center;
    transform: translateX(-70%);
    justify-content: flex-end;
    padding: 10px 0rem;
    gap: 1rem;
    &:hover {
      transform: translateX(0%);
      transition: 0.8s ease-out;
      padding-right: 1rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    svg {
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  .end-title {
    margin-top: 5rem;
  }
}

.toggle {
  top: 0;
  position: absolute;
}

.visible {
  transform: translateX(-300%);
  transition: 1s ease-out;
  display: block !important;
}
@media screen and (max-width: 510px) {
  .hello {
    font-size: 1.7rem !important;
    text-align: center;
  }
  .content {
    padding: 2rem !important;
  }
  .toggle {
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 890px) {
  .nav {
    display: none;
    transform: translateX(0);
    transition: 1s ease-out;
  }
  .content {
    padding: 5rem 5rem;
    .hello {
      font-size: 2rem;
      text-align: center;
      flex: 1;
    }
  }
}
