@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #66c5fc;
}
html::-webkit-scrollbar-track {
  background-color: rgb(48, 48, 48);
}
@layer base {
  body {
    @apply overflow-x-hidden bg-[#1D1D1D] font-sans;
  }
  ul {
    @apply list-none p-0;
  }
  a {
    @apply no-underline;
  }
  li {
    @apply font-Roboto py-4 text-whiteColor;
  }
  h1 {
    @apply text-whiteColor font-Adlam;
  }
}

.land-button {
  @apply font-Roboto py-4 px-16  border-2 border-mainTextColor rounded-bl-xl rounded-tr-xl text-sm xl:text-lg text-mainTextColor transition-all duration-150 ease-out mt-6 hover:bg-mainTextColor hover:text-white;
}

.prog {
  @apply bg-[#dedadc] h-3 rounded-2xl;
}

.line {
  @apply mt-4 h-3 rounded-3xl relative bg-mainTextColor after:w-1 after:h-1 after:absolute after:-top-9 after:right-6 after:content-[attr(data-progress)];
}
.icons-list {
  @apply grid  pt-20 px-3 xl:px-0   gap-0 xl:gap-5 min-h-[30vh] text-center font-Montessrat xl:grid-cols-[repeat(auto-fill,minmax(250px,1fr))];
}
.hide {
  @apply overflow-hidden;
}

.nav-contant-box {
  @apply flex items-center justify-end py-3 px-0 gap-4 font-Adlam;
}
/* .visible {
  @apply translate-x-[-300%] transition-all duration-100 ease-out block; */
/* } */
.more {
  @apply hover:bg-darkTextColor  transition-all duration-75 ease-out bg-transparent cursor-pointer font-Adlam flex flex-col my-0 mx-auto justify-center items-center p-3 border-2 border-mainTextColor rounded-xl;
}

.visible {
  /* transform: translateX(-300%);
  transition: 1s ease-out; */
  /* display: block !important; */
  display: none;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  /* position: relative; */
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: white;
}
.yellow {
  @apply bg-white;
}
.black {
  @apply bg-black;
}

.black-text h1,
h2,
h3,
div,
.icons-title,
button {
  @apply text-mainTextColor;
}
.black-text p {
  @apply text-darkTextColor;
}
.black-text .hello p {
  @apply text-lightBlackTextColor;
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  /* position: fixed;
  top: 50px;
  right: 25px; */
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  /* background-color: #fff; */
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  /* background-color: #fff; */
}
